<launch>

  <node pkg="homework1_code" name="talker" type="talker.py"/>
  <remap from="homework1/chatter" to="changedChatter" />
  <node pkg="homework1_code" name="listener" type="listener.py"/>

  <remap from="homework1/chatter" to="chatter" />
  <node pkg="st_homework2" name="chatterLogger" type="chatterLogger.py" />

</launch>
